In [2]:
import pandas as pd
import numpy as np
from fancyimpute import IterativeImputer

In [8]:
df = pd.read_csv("./csv_folder/mimic_table1_wth_range_hosp_AKI.csv", index_col=0)

In [11]:
df.head()

,subject_id,hadm_id,icustay_id,gender,admittime,dischtime,los_hospital,age,ethnicity,admission_type,...,ibp_diastolic_72h,ibp_mean_24h,ibp_mean_48h,ibp_mean_72h,mbp_24_inrange,sbp_24_inrange,dbp_24_inrange,mbp_24_inrange_AKI,sbp_24_inrange_AKI,dbp_24_inrange_AKI
0,55853,100010,271147,F,2109-12-10 07:15:00,2109-12-14 16:45:00,4.3958,54.5208,WHITE,ELECTIVE,...,50.0,66.5,68.0,68.0,0.166667,0.208333,0.041667,0.083333,0.041667,0.208333
1,87977,100011,214619,M,2177-08-29 04:51:00,2177-09-12 14:24:00,14.3979,21.5041,HISPANIC OR LATINO,EMERGENCY,...,72.0,84.0,91.0,92.0,0.413793,0.379310,0.068966,0.000000,0.275862,0.241379
2,14121,100058,297937,F,2139-09-08 21:38:00,2139-09-26 13:55:00,17.6785,56.8114,WHITE,EMERGENCY,...,57.0,79.0,78.0,77.0,0.636364,0.212121,0.000000,0.000000,0.000000,0.060606
3,20683,100186,203786,M,2168-01-07 19:33:00,2168-01-12 14:00:00,4.7688,19.8138,WHITE,EMERGENCY,...,59.0,77.0,77.0,77.0,0.750000,0.583333,0.000000,0.000000,0.000000,0.000000
4,81865,100215,248622,M,2193-05-03 20:47:00,2193-05-15 18:31:00,11.9056,48.0116,WHITE,EMERGENCY,...,66.0,82.0,80.0,81.0,0.818182,0.363636,0.090909,0.000000,0.000000,0.181818

In [102]:
df1 = df[['icustay_id','gender','age','ethnicity','ibp_mean_24h','ibp_systolic_24h','height_first','weight_first']]
#df_height = df1[['icustay_id','gender','age','ethnicity','ibp_mean_24h','ibp_systolic_24h','height_first','weight_first']][(df1['height_first'].isnull()) | (df1['weight_first'].isnull())]
# df_height = df1[['icustay_id','age','ibp_mean_24h','ibp_systolic_24h','height_first','weight_first']][(df1['height_first'].isnull()) | (df1['weight_first'].isnull())]

In [103]:
df1.shape

(13346, 8)

In [104]:
df1 = pd.get_dummies(df1, columns=['gender'])

In [105]:
df1 = pd.get_dummies(df1, columns=['ethnicity'])

In [106]:
df1.head(2)

,icustay_id,age,ibp_mean_24h,ibp_systolic_24h,height_first,weight_first,gender_F,gender_M,ethnicity_AMERICAN INDIAN/ALASKA NATIVE,ethnicity_ASIAN,...,ethnicity_MIDDLE EASTERN,ethnicity_MULTI RACE ETHNICITY,ethnicity_NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,ethnicity_PORTUGUESE,ethnicity_SOUTH AMERICAN,ethnicity_WHITE,ethnicity_WHITE - BRAZILIAN,ethnicity_WHITE - EASTERN EUROPEAN,ethnicity_WHITE - OTHER EUROPEAN,ethnicity_WHITE - RUSSIAN
0,271147,54.5208,66.5,100.5,NaN,83.5,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,214619,21.5041,84.0,127.0,NaN,76.8,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
MICE_imputer = IterativeImputer()
height_MICE = df1.copy(deep=True)
height_MICE.iloc[:, :] = MICE_imputer.fit_transform(height_MICE)

In [108]:
height_MICE.head(2)

,icustay_id,age,ibp_mean_24h,ibp_systolic_24h,height_first,weight_first,gender_F,gender_M,ethnicity_AMERICAN INDIAN/ALASKA NATIVE,ethnicity_ASIAN,...,ethnicity_MIDDLE EASTERN,ethnicity_MULTI RACE ETHNICITY,ethnicity_NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,ethnicity_PORTUGUESE,ethnicity_SOUTH AMERICAN,ethnicity_WHITE,ethnicity_WHITE - BRAZILIAN,ethnicity_WHITE - EASTERN EUROPEAN,ethnicity_WHITE - OTHER EUROPEAN,ethnicity_WHITE - RUSSIAN
0,271147.0,54.5208,66.5,100.5,161.680716,83.5,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,214619.0,21.5041,84.0,127.0,171.773141,76.8,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
height_MICE['height_first'].isnull().values.any()

False

In [110]:
height_MICE['weight_first'].isnull().values.any()

False

In [111]:
height_MICE.shape

(13346, 41)

In [112]:
df_impute = height_MICE.filter(['icustay_id','height_first','weight_first'],axis=1)

In [113]:
df_impute.columns = ['icustay_id','height_impute','weight_impute']

In [114]:
df3 = pd.merge(df, df_impute, how='left', on=['icustay_id'])

In [115]:
df3.columns

subject_id
hadm_id
icustay_id
gender
admittime
dischtime
los_hospital
age
ethnicity
admission_type
hospital_expire_flag
hospstay_seq
first_hosp_stay
intime
outtime
los_icu
icustay_seq
first_icu_stay
first_careunit
weight_first
height_first
icu_mortality
vent_duration_days
nettotal
hypertension
congestive_heart_failure
diabetes
hadm_id.1
afib
ckd
cld
copd
cereb
ihd
cancer
aki_48hr
sepsis
vaspor
vaspin
apsiii
apsiii_prob
sofa
first_24_vasso_hours
first_24_vasso_counts
first_48_vasso_hours
first_48_vasso_counts
first_72_vasso_hours
first_72_vasso_counts
exclude_vaso
exclude_age
exclude_ethnicity
exclude_height_first
exclude_weight_first
bmi
exclude_los_mortality
heartrate
resprate
exclude_heartrate
exclude_resprate
tempc
exclude_tempc
ibp_systolic_24h
ibp_systolic_48h
ibp_systolic_72h
ibp_diastolic_24h
ibp_diastolic_48h
ibp_diastolic_72h
ibp_mean_24h
ibp_mean_48h
ibp_mean_72h
mbp_24_inrange
sbp_24_inrange
dbp_24_inrange
mbp_24_inrange_AKI
sbp_24_inrange_AKI
dbp_24_inrange_AKI
height_impute
weight_impute

In [116]:
df3['weight_impute'].isnull().values.any()

False

In [120]:
df3['height_impute'].isnull().values.any()

False

In [119]:
df3['height_first'].isnull().values.any()

True

In [117]:
df3['weight_first'].isnull().values.any()

True

In [123]:
fig = df3['height_impute'].plot

In [133]:
df3['height_impute'].median()

170.18

In [134]:
df3['height_first'].median()

170.18

In [135]:
df3.to_csv("./csv_folder/mimic_with_imputation.csv")