In [2]:
import pandas as pd
import numpy as np
from fancyimpute import IterativeImputer

In [68]:
df0 = pd.read_csv("./csv_folder/eicu_processed.csv", index_col = 0,engine = 'python')
df0.shape

(21338, 57)

In [72]:
df0[(df0['exclude_age']==True)]['age'].unique()

array(['> 89'], dtype=object)

In [92]:
df0.loc[(df0['exclude_age']==True),'age'] = 1000
df0['age'] = df0['age'].astype(int)
df0.loc[(df0['age']<16) |(df0['age']>89) ,'exclude_age']=True

In [93]:
df0[(df0['exclude_age']==True)]['age'].unique()

array([1000,   15,   14])

In [94]:
df0[(df0['exclude_age']==True)]['age'].shape

(526,)

In [97]:
df0[(df0['exclude_gender']==True)]['gender'].unique()

array(['Unknown'], dtype=object)

In [98]:
df0[(df0['exclude_gender']==True)]['gender'].shape

(2,)

In [100]:
df0[(df0['exclude_mort_los']==True)]['hosp_mort'].head()

3     NaN
18    NaN
32    NaN
58    NaN
67    NaN
Name: hosp_mort, dtype: object

In [103]:

df0.loc[df0['apache_iv']== -1,'exclude_apache']=True
df0[df0['exclude_apache']==True]['apache_iv'].shape

(1696,)

In [105]:
df0[df0['exclude_apache']== True]['apache_iv'].unique()

array([nan, -1.])

In [108]:

df_exclude = df0[(df0['exclude_age']==True) | (df0['exclude_gender']==True )|(df0['exclude_mort_los']==True) |(df0['exclude_apache']==True) ]
df_exclude.shape

(2177, 57)

In [106]:

df1 = df0[(df0['exclude_age']==False) & (df0['exclude_gender']==False )&(df0['exclude_mort_los']==False) &(df0['exclude_apache']==False) ]
df1.shape

(19161, 57)

In [118]:
df_exclude= df1[(df1['ibp_mean_24h'].isnull()) | (df1['ibp_systolic_24h'].isnull()) | (df1['ibp_diastolic_24h'].isnull())]
df_exclude.shape

(4257, 57)

In [116]:
df_exclude= df1[(df1['ibp_systolic_24h'].isnull())]
df_exclude.shape

(3885, 57)

In [112]:
df_exclude.head(2)

,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,icu_mort,icu_los,hosp_mort,...,exclude_temperature,ibp_systolic_24h,ibp_systolic_48h,ibp_systolic_72h,ibp_diastolic_24h,ibp_diastolic_48h,ibp_diastolic_72h,ibp_mean_24h,ibp_mean_48h,ibp_mean_72h
0,141168,70,Female,Caucasian,Med-Surg ICU,152.4,84.3,EXPIRED,2.4972,EXPIRED,...,False,NaN,98.0,98.0,NaN,56.0,56.0,79.5,79.0,79.0
2,141203,77,Female,Caucasian,Med-Surg ICU,160.0,70.2,ALIVE,1.2979,ALIVE,...,False,NaN,NaN,NaN,NaN,NaN,NaN,73.0,73.0,73.0

In [157]:
df2= df1[(df1['ibp_mean_24h'].notnull()) & (df1['ibp_systolic_24h'].notnull()) & (df1['ibp_diastolic_24h'].notnull())]
df2.shape

(14904, 57)

In [120]:
df2.loc[df2['ethnicity'].isna(), 'ethnicity'] = "Others"

/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [121]:
df2.ethnicity.unique()

array(['Caucasian', 'Hispanic', 'Others', 'African American',
       'Native American', 'Asian'], dtype=object)

In [122]:
df2.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'admissionheight', 'admissionweight', 'icu_mort', 'icu_los',
       'hosp_mort', 'hosp_los', 'ventilation_duration_days', 'nettotal',
       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld',
       'copd', 'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary',
       'vasopressin', 'aki_creat', 'apache_iv', 'aki_uo', 'AKI', '24hrs_hr',
       '48hrs_hr', '72hrs_hr', 'exclude_vaso', 'sofatotal', 'exclude_age',
       'exclude_gender', 'exclude_ethnicity', 'exclude_admissionheight',
       'exclude_admissionweight', 'bmi', 'exclude_mort_los', 'exclude_apache',
       'heartrate', 'respiratoryrate', 'exclude_heartrate',
       'exclude_respiratoryrate', 'temperature', 'exclude_temperature',
       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h'],
      dtype='object')

In [142]:
df2.shape

(14904, 57)

In [123]:
df2.loc[df2['24hrs_hr'].isna(),'24hrs_hr']=0
df2.loc[df2['48hrs_hr'].isna(),'48hrs_hr']=0
df2.loc[df2['72hrs_hr'].isna(),'72hrs_hr']=0

/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [124]:
df2['age']=df2['age'].astype(int)

/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [143]:
df3 = df2[['patientunitstayid','gender','age','ethnicity','ibp_mean_24h','ibp_systolic_24h','admissionheight','admissionweight']]
df3 = pd.get_dummies(df3, columns=['gender'])
df3 = pd.get_dummies(df3, columns=['ethnicity'])

In [144]:
MICE_imputer = IterativeImputer()
height_MICE = df3.copy(deep=True)
height_MICE.iloc[:, :] = MICE_imputer.fit_transform(height_MICE)

In [145]:
df_impute = height_MICE.filter(['patientunitstayid','admissionheight','admissionweight'],axis=1)
df_impute.columns = ['patientunitstayid','height_impute','weight_impute']

In [146]:
df4 = pd.merge(df2, df_impute, how='left', on=['patientunitstayid'])

In [147]:
df4.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'admissionheight', 'admissionweight', 'icu_mort', 'icu_los',
       'hosp_mort', 'hosp_los', 'ventilation_duration_days', 'nettotal',
       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld',
       'copd', 'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary',
       'vasopressin', 'aki_creat', 'apache_iv', 'aki_uo', 'AKI', '24hrs_hr',
       '48hrs_hr', '72hrs_hr', 'exclude_vaso', 'sofatotal', 'exclude_age',
       'exclude_gender', 'exclude_ethnicity', 'exclude_admissionheight',
       'exclude_admissionweight', 'bmi', 'exclude_mort_los', 'exclude_apache',
       'heartrate', 'respiratoryrate', 'exclude_heartrate',
       'exclude_respiratoryrate', 'temperature', 'exclude_temperature',
       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h', 'height_impute',
       'weight_impute'],
      dtype='object')

In [148]:
df4.shape

(14904, 59)

In [130]:
df4.height_impute.describe()

count    14904.000000
mean       170.303890
std         12.360241
min          0.000000
25%        162.600000
50%        170.200000
75%        177.800000
max        227.300000
Name: height_impute, dtype: float64

In [149]:
height_min = df4['height_impute'].quantile(.25) - 1.5 * (df4['height_impute'].quantile(.75) - df4['height_impute'].quantile(.25)) # 139.8
height_max = df4['height_impute'].quantile(.75) + 1.5 * (df4['height_impute'].quantile(.75) - df4['height_impute'].quantile(.25)) # 200.6

In [150]:
df4['exclude_height'] = False
df4.loc[(df4['height_impute']>height_max )|(df4['height_impute']<height_min ),'exclude_height'] = True

In [134]:
df4[df4['exclude_height']==False].height_impute.describe()

count    14811.000000
mean       170.664666
std         10.305824
min        140.000000
25%        162.600000
50%        170.200000
75%        177.800000
max        200.000000
Name: height_impute, dtype: float64

In [135]:
df4[df4['exclude_height']==True].shape

(93, 60)

In [151]:
weight_min = df4['weight_impute'].quantile(.25) - 1.5 * (df4['weight_impute'].quantile(.75) - df4['weight_impute'].quantile(.25)) # 139.8
weight_max = df4['weight_impute'].quantile(.75) + 1.5 * (df4['weight_impute'].quantile(.75) - df4['weight_impute'].quantile(.25)) # 200.6

In [152]:
df4['exclude_weight'] = False
df4.loc[(df4['weight_impute']>weight_max )|(df4['weight_impute']<weight_min ),'exclude_weight'] = True

In [22]:
df4[df4['exclude_weight']==False].weight_impute.describe()

count    14459.000000
mean        84.617840
std         21.053959
min         25.600000
25%         69.445000
50%         83.000000
75%         98.200000
max        144.700000
Name: weight_impute, dtype: float64

In [138]:
df4[df4['exclude_weight']==True].shape

(449, 61)

In [153]:
df5 = df4[(df4['exclude_height']==False) & (df4['exclude_weight']==False ) ]
df5.shape

(14374, 61)

In [155]:
df4.shape

(14904, 61)

In [156]:
df5_exclude = df4[(df4['exclude_height']==True) | (df4['exclude_weight']==True ) ]
df5_exclude.shape

(530, 61)

In [158]:
df5.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'admissionheight', 'admissionweight', 'icu_mort', 'icu_los',
       'hosp_mort', 'hosp_los', 'ventilation_duration_days', 'nettotal',
       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld',
       'copd', 'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary',
       'vasopressin', 'aki_creat', 'apache_iv', 'aki_uo', 'AKI', '24hrs_hr',
       '48hrs_hr', '72hrs_hr', 'exclude_vaso', 'sofatotal', 'exclude_age',
       'exclude_gender', 'exclude_ethnicity', 'exclude_admissionheight',
       'exclude_admissionweight', 'bmi', 'exclude_mort_los', 'exclude_apache',
       'heartrate', 'respiratoryrate', 'exclude_heartrate',
       'exclude_respiratoryrate', 'temperature', 'exclude_temperature',
       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h', 'height_impute',
       'weight_impute', 'exclude_height', 'exclude_weight'],
      dtype='object')

In [159]:
df6 = df5.filter(['patientunitstayid','age', 'gender', 'ethnicity', 'unittype',
                       'height_impute','weight_impute',
                       'icu_mort', 'icu_los','hosp_mort', 'hosp_los', 
                       'apache_iv','sofatotal',
                       
                       '24hrs_hr','48hrs_hr', '72hrs_hr',
                       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld','copd',
                       'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary','ventilation_duration_days',
                       
                       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
                       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
                       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h',
                       'aki_creat',
                       
                      ],axis=1)

In [160]:
df6['bmi'] = df6['weight_impute'] / (df6['height_impute']/100 * df6['height_impute']/100)

In [161]:
df6.bmi.describe()

count    14374.000000
mean        29.100283
std          6.869555
min          9.280497
25%         24.229225
50%         28.341855
75%         32.993630
max         66.437609
Name: bmi, dtype: float64

In [162]:
df6.shape

(14374, 39)

In [163]:
df_7day =pd.read_csv("./csv_folder/eicu_AKI_uo7day.csv", index_col = 0,engine = 'python')
df_7day.head(2)

   patientunitstayid  AKI_uo7day
0             141179           0
1             141194           1

In [164]:
df_final = pd.merge(df6, df_7day.rename(columns={'patientunitstayid':'patientunitstayid'}), on='patientunitstayid',  how='left')
df_final.loc[df_final['AKI_uo7day'].isna(),'AKI_uo7day']=0
df_final.loc[df_final['aki_creat'].isna(),'aki_creat']=0

df_final["AKI_7d"] = df_final[["aki_creat", "AKI_uo7day"]].max(axis=1)
df_final.head(2)

,patientunitstayid,age,gender,ethnicity,unittype,height_impute,weight_impute,icu_mort,icu_los,hosp_mort,...,ibp_diastolic_24h,ibp_diastolic_48h,ibp_diastolic_72h,ibp_mean_24h,ibp_mean_48h,ibp_mean_72h,aki_creat,bmi,AKI_uo7day,AKI_7d
0,141194,68,Male,Caucasian,CTICU,180.3,73.9,ALIVE,3.3423,ALIVE,...,40.0,42.0,42.0,56.0,59.0,59.0,0.0,22.732803,1.0,1.0
1,141233,81,Female,Caucasian,CTICU,165.1,61.7,ALIVE,10.8923,ALIVE,...,42.0,44.0,46.0,74.0,64.0,66.0,0.0,22.635548,1.0,1.0

In [165]:
sum(df_final['AKI_7d']==1)/(df_final.shape[0])

0.8799220815361068

In [166]:
df_final.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'height_impute', 'weight_impute', 'icu_mort', 'icu_los', 'hosp_mort',
       'hosp_los', 'apache_iv', 'sofatotal', '24hrs_hr', '48hrs_hr',
       '72hrs_hr', 'hypertension', 'atrial_fibrillation', 'cancer', 'chf',
       'ckd', 'cld', 'copd', 'diabetes', 'ihd', 'cebrovascular_accident',
       'sepsis_binary', 'ventilation_duration_days', 'ibp_systolic_24h',
       'ibp_systolic_48h', 'ibp_systolic_72h', 'ibp_diastolic_24h',
       'ibp_diastolic_48h', 'ibp_diastolic_72h', 'ibp_mean_24h',
       'ibp_mean_48h', 'ibp_mean_72h', 'aki_creat', 'bmi', 'AKI_uo7day',
       'AKI_7d'],
      dtype='object')

In [167]:
df_final.shape

(14374, 41)

# survivor 7 day

In [168]:
df_final['mortality_7d'] = 2
df_final.loc[df_final['icu_los']>7,'mortality_7d'] = 'ALIVE'
df_final.loc[df_final['icu_los']<=7,'mortality_7d'] = df_final['icu_mort']

In [169]:
df_final.mortality_7d.describe()

count     14374
unique        2
top       ALIVE
freq      13105
Name: mortality_7d, dtype: object

In [170]:
df_final.mortality_7d.unique()

array(['ALIVE', 'EXPIRED'], dtype=object)

In [171]:
df_final.isna().any()

patientunitstayid            False
age                          False
gender                       False
ethnicity                    False
unittype                     False
height_impute                False
weight_impute                False
icu_mort                     False
icu_los                      False
hosp_mort                    False
hosp_los                     False
apache_iv                    False
sofatotal                    False
24hrs_hr                     False
48hrs_hr                     False
72hrs_hr                     False
hypertension                 False
atrial_fibrillation          False
cancer                       False
chf                          False
ckd                          False
cld                          False
copd                         False
diabetes                     False
ihd                          False
cebrovascular_accident       False
sepsis_binary                False
ventilation_duration_days    False
ibp_systolic_24h             False
ibp_systolic_48h             False
ibp_systolic_72h             False
ibp_diastolic_24h            False
ibp_diastolic_48h            False
ibp_diastolic_72h            False
ibp_mean_24h                 False
ibp_mean_48h                 False
ibp_mean_72h                 False
aki_creat                    False
bmi                          False
AKI_uo7day                   False
AKI_7d                       False
mortality_7d                 False
dtype: bool

In [172]:
df_final.to_csv("./csv_folder/eicu_clean_19Aug.csv")

In [173]:
df_final.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'height_impute', 'weight_impute', 'icu_mort', 'icu_los', 'hosp_mort',
       'hosp_los', 'apache_iv', 'sofatotal', '24hrs_hr', '48hrs_hr',
       '72hrs_hr', 'hypertension', 'atrial_fibrillation', 'cancer', 'chf',
       'ckd', 'cld', 'copd', 'diabetes', 'ihd', 'cebrovascular_accident',
       'sepsis_binary', 'ventilation_duration_days', 'ibp_systolic_24h',
       'ibp_systolic_48h', 'ibp_systolic_72h', 'ibp_diastolic_24h',
       'ibp_diastolic_48h', 'ibp_diastolic_72h', 'ibp_mean_24h',
       'ibp_mean_48h', 'ibp_mean_72h', 'aki_creat', 'bmi', 'AKI_uo7day',
       'AKI_7d', 'mortality_7d'],
      dtype='object')