In [166]:
import pandas as pd
import numpy as np
from fancyimpute import IterativeImputer

In [3]:
df = pd.read_csv("../BP_data_table2_new.csv", index_col=0)

/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df.head()

,patientunitstayid,chartoffset,entryoffset,heartrate,respiratoryrate,spo2,nibp_systolic,nibp_diastolic,nibp_mean,temperature,temperaturelocation,ibp_systolic,ibp_diastolic,ibp_mean
0,141168,6,6,140.0,NaN,NaN,82.0,59.0,NaN,NaN,NaN,NaN,NaN,67.0
1,141168,21,21,70.0,NaN,94.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
2,141168,36,36,70.0,NaN,94.0,105.0,59.0,NaN,NaN,NaN,NaN,NaN,75.0
3,141168,51,51,140.0,NaN,94.0,103.0,65.0,NaN,NaN,NaN,NaN,NaN,80.0
4,141168,66,66,140.0,NaN,92.0,99.0,68.0,NaN,NaN,NaN,NaN,NaN,80.0

In [6]:
df['ibp_systolic'].max()

300.0

### df[(df["patientunitstayid"]==141194)&(df['chartoffset']>=0)&(df['chartoffset']<=1440)]

In [5]:
df_group = df.groupby("patientunitstayid")

In [6]:
def calc_percent(df, timerange=[0, 1440], col='ibp_systolic', valuerange=[115, 125]):
    start = timerange[0]
    end = timerange[1]
    temp = df[(df['chartoffset']>=start) & (df['chartoffset']<=end)]
    non_na = temp[temp[col].notnull()]
    num_nonna = non_na.shape[0]
    if num_nonna==0:
        return np.nan
    value_min, value_max = valuerange[0], valuerange[1]
    range_num = non_na[(non_na[col]>=value_min) & (non_na[col]<=value_max)].shape[0]
    return range_num / num_nonna

In [7]:
result = df_group.apply(lambda x: calc_percent(x, timerange=[0, 1440], col='ibp_mean', valuerange=[94.56784, 300]))

In [8]:
result_df = pd.DataFrame(result).reset_index()
result_df.columns = ["patientunitstayid", "mbp_24_inrange_AKI"]

In [9]:
sbp_24_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 1440], col='ibp_systolic', valuerange=[146.6935, 300]))
sbp_24_inrange = pd.DataFrame(sbp_24_inrange).reset_index()
sbp_24_inrange.columns = ["patientunitstayid", "sbp_24_inrange_AKI"]
result_df['sbp_24_inrange_AKI'] = sbp_24_inrange['sbp_24_inrange_AKI']

In [10]:
dbp_24_inrange =df_group.apply(lambda x: calc_percent(x, timerange=[0, 1440], col='ibp_diastolic', valuerange=[78.93467, 300]))
dbp_24_inrange = pd.DataFrame(dbp_24_inrange).reset_index()
dbp_24_inrange.columns = ["patientunitstayid", "dbp_24_inrange_AKI"]
result_df['dbp_24_inrange_AKI'] = dbp_24_inrange['dbp_24_inrange_AKI']

# not run yet

In [68]:
mbp_48_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 2880], col='ibp_mean', valuerange=[78.27889, 300]))
mbp_48_inrange = pd.DataFrame(mbp_48_inrange).reset_index()
mbp_48_inrange.columns = ["patientunitstayid", "mbp_48_inrange"]
result_df['mbp_48_inrange'] = mbp_48_inrange['mbp_48_inrange']

sbp_48_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 2880], col='ibp_systolic', valuerange=[122.4724, 300]))
sbp_48_inrange = pd.DataFrame(sbp_48_inrange).reset_index()
sbp_48_inrange.columns = ["patientunitstayid", "sbp_48_inrange"]
result_df['sbp_48_inrange'] = sbp_48_inrange['sbp_48_inrange']

dbp_48_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 2880], col='ibp_diastolic', valuerange=[60.39196, 300]))
dbp_48_inrange = pd.DataFrame(dbp_48_inrange).reset_index()
dbp_48_inrange.columns = ["patientunitstayid", "dbp_48_inrange"]
result_df['dbp_48_inrange'] = dbp_48_inrange['dbp_48_inrange']

mbp_72_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 4320], col='ibp_mean', valuerange=[79.39698, 93.25628]))
mbp_72_inrange = pd.DataFrame(mbp_72_inrange).reset_index()
mbp_72_inrange.columns = ["patientunitstayid", "mbp_72_inrange"]
result_df['mbp_72_inrange'] = mbp_72_inrange['mbp_72_inrange']

sbp_72_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 4320], col='ibp_systolic', valuerange=[123.4673, 153.3166]))
sbp_72_inrange = pd.DataFrame(sbp_72_inrange).reset_index()
sbp_72_inrange.columns = ["patientunitstayid", "sbp_72_inrange"]
result_df['sbp_72_inrange'] = sbp_72_inrange['sbp_72_inrange']

dbp_72_inrange = df_group.apply(lambda x: calc_percent(x, timerange=[0, 4320], col='ibp_diastolic', valuerange=[61.01005, 82.64322]))
dbp_72_inrange = pd.DataFrame(dbp_72_inrange).reset_index()
dbp_72_inrange.columns = ["patientunitstayid", "dbp_72_inrange"]
result_df['dbp_72_inrange'] = dbp_72_inrange['dbp_72_inrange']

In [69]:
result_df.head()

,patientunitstayid,mbp_24_inrange,sbp_24_inrange,dbp_24_inrange,mbp_48_inrange,sbp_48_inrange,dbp_48_inrange,mbp_72_inrange,sbp_72_inrange,dbp_72_inrange
0,141168,0.700000,NaN,NaN,0.533333,0.200000,0.200000,0.466667,0.200000,0.200000
1,141194,0.000000,0.041667,0.000000,0.153846,0.098039,0.078431,0.153846,0.098039,0.078431
2,141203,0.417582,NaN,NaN,0.316832,NaN,NaN,0.247525,NaN,NaN
3,141229,1.000000,NaN,NaN,0.500000,NaN,NaN,0.500000,NaN,NaN
4,141233,0.364486,0.457944,0.037383,0.131068,0.150485,0.009709,0.122881,0.114407,0.084746

In [11]:
result_df[result_df['mbp_24_inrange_AKI'].notnull()].shape

(20884, 4)

In [13]:
df1 = pd.read_csv("./csv_folder/eicu_table1_wth_range.csv", index_col=0)

In [14]:
df1.head()

,X,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,icu_mort,icu_los,...,mbp_24_inrange,sbp_24_inrange,dbp_24_inrange,mbp_48_inrange,sbp_48_inrange,dbp_48_inrange,mbp_72_inrange,sbp_72_inrange,dbp_72_inrange,hospital_mortality
0,0,141168,58,Female,Caucasian,Med-Surg ICU,152.4,84.3,EXPIRED,2.4972,...,0.700000,NaN,NaN,0.533333,0.200000,0.200000,0.466667,0.200000,0.200000,1
1,1,141194,56,Male,Caucasian,CTICU,180.3,73.9,ALIVE,3.3423,...,0.000000,0.041667,0.000000,0.153846,0.098039,0.078431,0.153846,0.098039,0.078431,0
2,2,141203,65,Female,Caucasian,Med-Surg ICU,160.0,70.2,ALIVE,1.2979,...,0.417582,NaN,NaN,0.316832,NaN,NaN,0.247525,NaN,NaN,0
3,4,141233,69,Female,Caucasian,CTICU,165.1,61.7,ALIVE,10.8923,...,0.364486,0.457944,0.037383,0.131068,0.150485,0.009709,0.122881,0.114407,0.084746,0
4,5,141244,47,Male,Caucasian,CTICU,180.3,92.3,ALIVE,2.6631,...,0.684211,0.684211,0.789474,0.631579,0.631579,0.421053,0.578947,0.631579,0.421053,0

In [15]:
df3 = pd.merge(df1, result_df, how='left', on=['patientunitstayid'])

In [16]:
df3.head()

,X,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,icu_mort,icu_los,...,mbp_48_inrange,sbp_48_inrange,dbp_48_inrange,mbp_72_inrange,sbp_72_inrange,dbp_72_inrange,hospital_mortality,mbp_24_inrange_AKI,sbp_24_inrange_AKI,dbp_24_inrange_AKI
0,0,141168,58,Female,Caucasian,Med-Surg ICU,152.4,84.3,EXPIRED,2.4972,...,0.533333,0.200000,0.200000,0.466667,0.200000,0.200000,1,0.000000,NaN,NaN
1,1,141194,56,Male,Caucasian,CTICU,180.3,73.9,ALIVE,3.3423,...,0.153846,0.098039,0.078431,0.153846,0.098039,0.078431,0,0.000000,0.000000,0.0
2,2,141203,65,Female,Caucasian,Med-Surg ICU,160.0,70.2,ALIVE,1.2979,...,0.316832,NaN,NaN,0.247525,NaN,NaN,0,0.087912,NaN,NaN
3,4,141233,69,Female,Caucasian,CTICU,165.1,61.7,ALIVE,10.8923,...,0.131068,0.150485,0.009709,0.122881,0.114407,0.084746,0,0.000000,0.186916,0.0
4,5,141244,47,Male,Caucasian,CTICU,180.3,92.3,ALIVE,2.6631,...,0.631579,0.631579,0.421053,0.578947,0.631579,0.421053,0,0.210526,0.263158,0.0

In [90]:
# df3.plot(x='mbp_24_inrange', y='hosp_mort')
df3['hospital_mortality']= 1
df3.loc[df3['hosp_mort']=='ALIVE', 'hospital_mortality']=0

In [91]:
df3[['hosp_mort','hospital_mortality']].head(2)

  hosp_mort  hospital_mortality
0   EXPIRED                   1
1     ALIVE                   0

In [17]:
df3.to_csv("./csv_folder/eicu_table1_wth_range_hosp_AKI.csv")

In [192]:
df_7day =pd.read_csv("./csv_folder/eicu_AKI_uo7day.csv", index_col = 0,engine = 'python')
df_7day.head(2)

   patientunitstayid  AKI_uo7day
0             141179           0
1             141194           1

In [194]:
df3 = pd.read_csv("./csv_folder/eicu_table1_wth_range_hosp_AKI.csv", index_col = 0,engine = 'python')
df3.head(2)

,X,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,icu_mort,icu_los,...,mbp_48_inrange,sbp_48_inrange,dbp_48_inrange,mbp_72_inrange,sbp_72_inrange,dbp_72_inrange,hospital_mortality,mbp_24_inrange_AKI,sbp_24_inrange_AKI,dbp_24_inrange_AKI
0,0,141168,58,Female,Caucasian,Med-Surg ICU,152.4,84.3,EXPIRED,2.4972,...,0.533333,0.200000,0.200000,0.466667,0.200000,0.200000,1,0.0,NaN,NaN
1,1,141194,56,Male,Caucasian,CTICU,180.3,73.9,ALIVE,3.3423,...,0.153846,0.098039,0.078431,0.153846,0.098039,0.078431,0,0.0,0.0,0.0

In [195]:
df_all = pd.merge(df3, df_7day.rename(columns={'patientunitstayid':'patientunitstayid'}), on='patientunitstayid',  how='left')
df_all["AKI_7day"] = df_all[["aki_creat", "AKI_uo7day"]].max(axis=1)
df_all.head(2)

,X,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,icu_mort,icu_los,...,dbp_48_inrange,mbp_72_inrange,sbp_72_inrange,dbp_72_inrange,hospital_mortality,mbp_24_inrange_AKI,sbp_24_inrange_AKI,dbp_24_inrange_AKI,AKI_uo7day,AKI_7day
0,0,141168,58,Female,Caucasian,Med-Surg ICU,152.4,84.3,EXPIRED,2.4972,...,0.200000,0.466667,0.200000,0.200000,1,0.0,NaN,NaN,NaN,1.0
1,1,141194,56,Male,Caucasian,CTICU,180.3,73.9,ALIVE,3.3423,...,0.078431,0.153846,0.098039,0.078431,0,0.0,0.0,0.0,1.0,1.0

In [196]:
df_include =df_all[(df_all['exclude_age']==False) &(df_all['exclude_gender']==False) & (df_all['exclude_mort_los'])==False]
df_include.head(2)

,X,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,icu_mort,icu_los,...,dbp_48_inrange,mbp_72_inrange,sbp_72_inrange,dbp_72_inrange,hospital_mortality,mbp_24_inrange_AKI,sbp_24_inrange_AKI,dbp_24_inrange_AKI,AKI_uo7day,AKI_7day
0,0,141168,58,Female,Caucasian,Med-Surg ICU,152.4,84.3,EXPIRED,2.4972,...,0.200000,0.466667,0.200000,0.200000,1,0.0,NaN,NaN,NaN,1.0
1,1,141194,56,Male,Caucasian,CTICU,180.3,73.9,ALIVE,3.3423,...,0.078431,0.153846,0.098039,0.078431,0,0.0,0.0,0.0,1.0,1.0

In [197]:
df_include.shape

(18572, 73)

In [198]:
sum(df_include['AKI_7day']==1)

15641

In [199]:
sum(df_include['AKI_uo7day']==1)/(df_include.shape[0])

0.8132134395864743

In [200]:
sum(df_all['AKI_7day']==1)/(df_all.shape[0])

0.8324926334715078

In [201]:
df_all.shape

(20023, 73)

In [73]:
table1 = pd.read_csv("./csv_folder/BP_data_table1_Jul13.csv", index_col = 0,engine = 'python')
table1.head(2)

,Unnamed: 0.1,patientunitstayid,age,gender,ethnicity,unittype,admissionheight,admissionweight,dischargeweight,icu_mort,...,ihd,cebrovascular_accident,sepsis_binary,vasopressor,vasopressin,heparin,aki_creat,apache_iv,aki_uo,AKI
0,0,141168,70,Female,Caucasian,Med-Surg ICU,152.4,84.3,85.8,EXPIRED,...,1.0,0.0,0,NaN,NaN,NaN,1.0,65.0,1,1.0
1,1,141194,68,Male,Caucasian,CTICU,180.3,73.9,76.7,ALIVE,...,NaN,NaN,1,NaN,NaN,NaN,0.0,70.0,1,1.0

In [74]:
table1.ethnicity.unique()

array(['Caucasian', 'Hispanic', nan, 'African American', 'Asian',
       'Native American', 'Other/Unknown'], dtype=object)

In [75]:
table1.shape

(21338, 34)

In [147]:
df0 = pd.read_csv("./csv_folder/eicu_processed.csv", index_col = 0,engine = 'python')
df0.shape

(21338, 57)

In [148]:
df0['exclude_apache']=False
df0.loc[df0['apache_iv']== -1,'exclude_apache']=True

df1 = df0[(df0['exclude_age']==False) & (df0['exclude_gender']==False )&(df0['exclude_mort_los']==False) &(df0['exclude_apache']==False) ]
df1.shape

(19165, 57)

In [149]:
df2= df1[(df1['ibp_mean_24h'].notnull()) & (df1['ibp_systolic_24h'].notnull()) & (df1['ibp_diastolic_24h'].notnull())]
df2.shape

(14908, 57)

In [150]:
df2.loc[df2['ethnicity'].isna(), 'ethnicity'] = "Others"

/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [123]:
df2.ethnicity.unique()

array(['Caucasian', 'Hispanic', 'Others', 'African American',
       'Native American', 'Asian'], dtype=object)

In [124]:
df2.admissionheight.isna().sum()

62

In [125]:
df2.admissionweight.isna().sum()

467

In [157]:
df2.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'admissionheight', 'admissionweight', 'icu_mort', 'icu_los',
       'hosp_mort', 'hosp_los', 'ventilation_duration_days', 'nettotal',
       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld',
       'copd', 'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary',
       'vasopressin', 'aki_creat', 'apache_iv', 'aki_uo', 'AKI', '24hrs_hr',
       '48hrs_hr', '72hrs_hr', 'exclude_vaso', 'sofatotal', 'exclude_age',
       'exclude_gender', 'exclude_ethnicity', 'exclude_admissionheight',
       'exclude_admissionweight', 'bmi', 'exclude_mort_los', 'exclude_apache',
       'heartrate', 'respiratoryrate', 'exclude_heartrate',
       'exclude_respiratoryrate', 'temperature', 'exclude_temperature',
       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h'],
      dtype='object')

In [152]:
df2.loc[df2['24hrs_hr'].isna(),'24hrs_hr']=0
df2.loc[df2['48hrs_hr'].isna(),'48hrs_hr']=0
df2.loc[df2['72hrs_hr'].isna(),'72hrs_hr']=0

/home/ephlius/.virtualenvs/3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [158]:
df2['age']=df2['age'].astype(int)

          age
count   14908
unique     76
top        67
freq      476

In [167]:
df2.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'admissionheight', 'admissionweight', 'icu_mort', 'icu_los',
       'hosp_mort', 'hosp_los', 'ventilation_duration_days', 'nettotal',
       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld',
       'copd', 'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary',
       'vasopressin', 'aki_creat', 'apache_iv', 'aki_uo', 'AKI', '24hrs_hr',
       '48hrs_hr', '72hrs_hr', 'exclude_vaso', 'sofatotal', 'exclude_age',
       'exclude_gender', 'exclude_ethnicity', 'exclude_admissionheight',
       'exclude_admissionweight', 'bmi', 'exclude_mort_los', 'exclude_apache',
       'heartrate', 'respiratoryrate', 'exclude_heartrate',
       'exclude_respiratoryrate', 'temperature', 'exclude_temperature',
       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h'],
      dtype='object')

In [168]:
df3 = df2[['patientunitstayid','gender','age','ethnicity','ibp_mean_24h','ibp_systolic_24h','admissionheight','admissionweight']]
df3 = pd.get_dummies(df3, columns=['gender'])
df3 = pd.get_dummies(df3, columns=['ethnicity'])

In [169]:
MICE_imputer = IterativeImputer()
height_MICE = df3.copy(deep=True)
height_MICE.iloc[:, :] = MICE_imputer.fit_transform(height_MICE)

In [173]:
df_impute = height_MICE.filter(['patientunitstayid','admissionheight','admissionweight'],axis=1)
df_impute.columns = ['patientunitstayid','height_impute','weight_impute']

In [175]:
df4 = pd.merge(df2, df_impute, how='left', on=['patientunitstayid'])

In [176]:
df4.columns

Index(['patientunitstayid', 'age', 'gender', 'ethnicity', 'unittype',
       'admissionheight', 'admissionweight', 'icu_mort', 'icu_los',
       'hosp_mort', 'hosp_los', 'ventilation_duration_days', 'nettotal',
       'hypertension', 'atrial_fibrillation', 'cancer', 'chf', 'ckd', 'cld',
       'copd', 'diabetes', 'ihd', 'cebrovascular_accident', 'sepsis_binary',
       'vasopressin', 'aki_creat', 'apache_iv', 'aki_uo', 'AKI', '24hrs_hr',
       '48hrs_hr', '72hrs_hr', 'exclude_vaso', 'sofatotal', 'exclude_age',
       'exclude_gender', 'exclude_ethnicity', 'exclude_admissionheight',
       'exclude_admissionweight', 'bmi', 'exclude_mort_los', 'exclude_apache',
       'heartrate', 'respiratoryrate', 'exclude_heartrate',
       'exclude_respiratoryrate', 'temperature', 'exclude_temperature',
       'ibp_systolic_24h', 'ibp_systolic_48h', 'ibp_systolic_72h',
       'ibp_diastolic_24h', 'ibp_diastolic_48h', 'ibp_diastolic_72h',
       'ibp_mean_24h', 'ibp_mean_48h', 'ibp_mean_72h', 'height_impute',
       'weight_impute'],
      dtype='object')

In [180]:
df4.height_impute.describe()

count    14908.000000
mean       170.303490
std         12.359168
min          0.000000
25%        162.600000
50%        170.200000
75%        177.800000
max        227.300000
Name: height_impute, dtype: float64

In [182]:
height_min = df4['height_impute'].quantile(.25) - 1.5 * (df4['height_impute'].quantile(.75) - df4['height_impute'].quantile(.25)) # 139.8
height_max = df4['height_impute'].quantile(.75) + 1.5 * (df4['height_impute'].quantile(.75) - df4['height_impute'].quantile(.25)) # 200.6

In [184]:
df4['exclude_height'] = False
df4.loc[(df4['height_impute']>height_max )|(df4['height_impute']<height_min ),'exclude_height'] = True

In [185]:
df4[df4['exclude_height']==False].height_impute.describe()

count    14815.000000
mean       170.664165
std         10.305155
min        140.000000
25%        162.600000
50%        170.200000
75%        177.800000
max        200.000000
Name: height_impute, dtype: float64

In [186]:
weight_min = df4['weight_impute'].quantile(.25) - 1.5 * (df4['weight_impute'].quantile(.75) - df4['weight_impute'].quantile(.25)) # 139.8
weight_max = df4['weight_impute'].quantile(.75) + 1.5 * (df4['weight_impute'].quantile(.75) - df4['weight_impute'].quantile(.25)) # 200.6

In [188]:
df4['exclude_weight'] = False
df4.loc[(df4['weight_impute']>weight_max )|(df4['weight_impute']<weight_min ),'exclude_weight'] = True

In [191]:
df4[df4['exclude_weight']==False].weight_impute.describe()

count    14459.000000
mean        84.617840
std         21.053959
min         25.600000
25%         69.445000
50%         83.000000
75%         98.200000
max        144.700000
Name: weight_impute, dtype: float64